
*.xml
*.iml
*.pyc
/zep/zep/__pycache__/



.idea/inspectionProfiles/
.DS_Store
cache/.DS_Store
cache/bime/.DS_Store
cache/chat/.DS_Store
cache/docs_team/.DS_Store
cache/help/.DS_Store
cache/refresh/.DS_Store
cache/support/.DS_Store
docs/.DS_Store
zep/.DS_Store
/cache/chat/
/cache/explore/
/cache/docs_team/
/cache/help/
/cache/bime/
/cache/outboundsupport/
/cache/refresh/
/cache/support/

